.app {
    grid-area: app;
    padding: 117px 0 0 280px;
    display: flex;
}

.app__info-title {
    margin: 46px 0 29px 0;
    font-family: var(--f-bold);
    font-size: 36px;
    line-height: 48px;
}

.app__info-description {
    margin-top: 32px;
    font-family: var(--f-light);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--c-Topaz);
}


.app__illustration {
    height: 434px;
    width: 665px;
    margin: 9px 0 0 132px;
}

.app__info-btnSecondary {
    margin-top: 39px;
    display: flex;
    justify-content: center;
}

.app__info-btnSecondaryArrow {
    margin: 18px 0 0 15px;
}
