.downloadOurMobileApps {
    grid-area: downloadOurMobileApps;
    padding-top: 265px;
    padding-left: 280px;
    display: flex;
    background: url(../images/svg/element.svg) no-repeat right -50px top;
}

.trafalgar-illustration-sec03 {
    height: 434px;
    width: 665px;
    margin-left: 71px;
}

.download {
    display: flex;
    justify-content: center;
}

.arrowImg {
    margin-left: 15px;
}

.btnDownloadOurMobileApps {
    margin-top: 40px;
}
