.footer {
    margin-top: 131px;
    background: url(../images/svg/element.svg) no-repeat top right 91px;
}

.footer__blueRectangle {
    margin-top: 72px;
    background: linear-gradient(183.41deg, var(--c-malibu) -8.57%, var(--c-persian-green) 82.96%);
    position: relative;
    display: flex;
    padding: 118px 0 0 190px;
    box-sizing: border-box;
    height: 432px;
}

.footer__blueRectangle::after {
    content: "";
    background-image: url(../images/svg/element-light-footer.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.footer__blueRectangleContent {
    width: 1196px;
    display: flex;
}

.footer__logo {
    align-items: center;
    margin-left: 1px;
}

.footer__letterT {
    color: var(--c-cornflower-blue);
    background-color: var(--c-white);
}

.footer__trafalgar {
    margin-top: -5px;
    color: var(--c-white);
}

.footer__descriptionText {
    font-family: var(--f-light);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--c-white);
    margin-top: 17px;
}

.footer__copyright {
    font-family: var(--f-light);
    font-size: 16px;
    line-height: 28px;
    color: var(--c-white);
    margin-top: 31px;
}

.footer__company {
    margin-left: 159px;
}

.footer__region {
    margin-left: 81px;
}

.footer__help {
    margin-left: 142px;
}

.footer__title {
    margin: 11px 0 0 0;
    font-family: var(--f-bold);
    font-size: 20px;
    color: var(--c-white);
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
}

.footer__links a {
    text-decoration: none;
    font-family: var(--f-light);
    font-size: 18px;
    line-height: 38px;
    color: var(--c-white);
}
