.header {
    grid-area: header;
    display: flex;
}

.header__logo {
    padding-top: 56px;
    padding-left: 191px;
}

.header__logoLetterT {
    color: var(--c-white);
    background-color: var(--c-cornflower-blue);
}

.header__logoTrafalgar {
    color: var(--c-cloud-burst);
}

.header__nav {
    margin-left: 513px;
    width: 544px;
    padding-right: 191px;
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.header_navLinkHome {
    font-family: var(--f-bold);
    font-size: 18px;
    text-decoration: none;
    color: var(--c-revolver);
}

.header_navLink {
    font-family: var(--f-reg);
    font-size: 18px;
    text-decoration: none;
    color: var(--c-revolver);
    opacity: 0.5;
}

