.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding-top: 56px;
    display: flex;
    padding-left: 191px;
}

.header__letterT {
    width: 41px;
    height: 41px;
    padding: 6px;
    font-family: var(--f-bold);
    font-size: 26px;
    color: var(--c-white);
    background-color: var(--c-cornflower-blue);
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
}

.header__trafalgar {
    padding: 5px 0 0 12px;
    font-family: var(--f-bold);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--c-cloud-burst);
}

.header__navigation {
    width: 545px;
    padding-right: 191px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.header_navigationLinkHome {
    font-family: var(--f-bold);
    font-size: 18px;
    text-decoration: none;
    color: var(--c-revolver);
}

.header_navigationLink {
    font-family: var(--f-reg);
    font-size: 18px;
    text-decoration: none;
    color: var(--c-revolver);
    opacity: 0.5;
}

