@import "normalize.css";
@import "header.css";
@import "virtualHealthcare.css";
@import "ourServices.css";
@import "providers.css";
@import "app.css";
@import "testimonials.css";
@import "articles.css";
@import "footer.css";
@import "variables.css";
@import "font.css";

.mainWrapper {
    display: grid;
    grid-template-areas:
"header"
"virtualHealthcare"
"ourServices"
"providers"
"app"
"testimonials"
"articles"
"footer";
    width: 1600px;
    margin: 0 auto;
}

.btnSecondary {
    width: 200px;
    border: 1px solid var(--c-cornflower-blue);
    box-sizing: border-box;
    border-radius: 55px;

    color: var(--c-cornflower-blue);
    font-family: var(--f-bold);
    font-size: 18px;
    line-height: 52px;
    background-color: var(--c-white);
    cursor: pointer;
}

.line {
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin-top: 26px;
}

.logo {
    display: flex;
}

.letterT {
    width: 41px;
    height: 41px;
    padding: 6px;
    font-family: var(--f-bold);
    font-size: 26px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
}

.trafalgar {
    padding: 6px 0 0 12px;
    font-family: var(--f-bold);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
