.providers {
    grid-area: providers;
    margin: 221px 0 0 135px;
    display: flex;
    background: url(../images/svg/element.svg) no-repeat right -46px bottom;
    padding-bottom: 103px;
}

.providers__illustration {
    height: 477px;
    width: 650px;
}

.providers__info{
    display: flex;
    flex-direction: column;
    margin-left: 142px;
}

.providers__info-title {
    margin: 58px 0 0 0;
    font-family: var(--f-bold);
    font-size: 36px;
    line-height: 56px;
}

.providers__info-description {
    margin-top: 30px;
    font-family: var(--f-light);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--c-Topaz);
}


.providers__info-btnSecondary {
    margin: 40px 0 0 -5px;
}
