:root {
    --f-bold: 'MulishBold';
    --f-light: 'MulishLight';
    --f-reg: 'MulishReg';

    --c-cornflower-blue: #458FF6;
    --c-cloud-burst: #233348;
    --c-white: #FFFFFF;
    --c-revolver: #1F1534;
    --c-Topaz: #7D7987;
    --c-black: #000000;
    --c-malibu: #67C3F3;
    --c-persian-green: #5A98F2;
}
